include let
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title FB
    body 
        header 
            .container-nav 
                .navegation 
                    .logo-barra 
                        img(src="img/fb.png")
                        .logo-barra__search 
                            img(src="img/logo/search.png", class="search_image_header" alt="")
                            input(type="search" placeholder="Search Facebook")
                    .adrress 
                        for logos in logoCenter
                            a(href="#") 
                                img(src=logos)
                    .perfil 
                        .perfil-container 
                            .perfil-container__items 
                                img(src="img/profile.png")
                                a(href="#") Ronald Oliver
                            .perfil-container__logos 
                                for logo2 in logoRight
                                    a(href="#")
                                        img(src=logo2)
            .container-portada 
                img(src="img/perfil/portada.png")
                .container-portada-perfil 
                    img(src="img/perfil/perfil.png")
                    h1  Ronald Oliver
        section.listas 
            .container-general 
                .lista-massage 
                    ul
                        for list in lista 
                            li 
                                a(href="#")= list
                    .lista-right 
                        .lista-right__massage 
                            for listaLogo in logoList
                                if listaLogo == "img/logo/message.png"
                                    .masage-items 
                                        span.massageLogo 
                                        img.image-logo(src=listaLogo)
                                else 
                                    img.image-logo__item(src=listaLogo)
        section.info 
            .container-general 
                .main 
                    .info-item 
                        h2 Intro
                        .info-item__text 
                            for miNewLogo, text1 in newlogo
                                +newlogom (miNewLogo, newLogoText[text1])
                    .info-photo
                        .info-photo__text 
                            h3 Photos
                            a(href="#") See All Photos 
                        .info-photo__gallery 
                            for gallery1 in gallery 
                                img(src= gallery1)
                    .info-public 
                        .info-public__top 
                            img(src="img/gallery/people.png")
                            input(type="search" placeholder="Write something to Roland…")
                        .info-public__down 
                            for daddy, yankee in publicIcon
                                +public(daddy, publicText[yankee])
                    .info-post 
                        h3 Posts
                        .info-post__filter 
                            i 
                            span Filters
                    .info-deslice 
                        .info-deslice__top 
                            img(src="img/perfil/perfilsmall.png")
                            .info-deslice__top--items 
                                a(href="#") Ronald Oliver
                                span was with
                                a(href="#") Steve Cunningham
                                span November 16, 2021 
                            img(src="img/logo/more.png")
                        .info-deslice__top-center 
                            p Nunc scelerisque tincidunt elit. Vestibulum non mi ipsum. Cras pretium suscipit tellus sit amet aliquet. Vestibulum maximus lacinia massa non porttitor.
                        .info-deslice__center 
                            img(src="img/perfil/rolex.png")
                        .info-deslice__center-down 
                            .info-deslice__center-down-1
                                .info-deslice__center-down-2                         
                                    img(src="img/perfil/like.png")
                                    img(src="img/perfil/corazon.png")
                                span 26
                            span 1 comment
                        .info-deslice__down 
                            .info-deslice__down-top 
                                i 
                                span like 
                            .info-deslice__down-down 
                                i 
                                span Comment 
                        .info-deslice__down-1 
                            img(src="img/gallery/people.png")
                            input(type="search" placeholder="Write a comment…")



                        



                   

                             
                            


                         
                
